@import "tailwindcss";

@layer theme;
@import "./theme.css" layer(theme);

@layer base {
  *, :before, :after {@apply p-0 m-0 box-border border-neutral-disable outline-neutral-soft;}
  input, textarea, select, button, a {@apply focus:outline-none transition-all;}
  body {@apply font-googlesans font-normal text-base text-content-base fill-content-base bg-neutral-100;}
      .h0 {@apply text-4xl  font-medium text-content-hover;}
  h1, .h1 {@apply text-2xl  font-medium text-primary-hover leading-10;}
  h2, .h2 {@apply text-xl   font-medium text-content-hover;}
  h3, .h3 {@apply text-lg   font-medium text-content-hover;}
  h4, .h4 {@apply text-base font-medium text-content-hover;}
  h5, .h5 {@apply text-sm   font-medium text-content-hover;}
  h6, .h6 {@apply text-xs   font-medium text-content-hover;}
  hr {@apply w-full border-neutral-disable;}
  button, [role=button] {@apply cursor-pointer;}
  img {@apply w-fit rounded-lg transition-all;}

  form {@apply flex flex-row flex-wrap justify-between items-center gap-5 w-full;}
  .input-row {@apply flex flex-col lg:flex-row gap-5 w-full;}
  .input-col {@apply flex flex-col gap-5 w-full;}
  .input-group {@apply relative flex flex-col gap-2 w-full;}
  .button-row {@apply flex flex-row flex-wrap justify-end items-center grow gap-5 w-full xs:w-fit;}
  .button-row button {@apply grow xs:grow-0;}
  label {@apply w-fit text-sm font-medium text-content-soft hover:text-primary-hover transition-all;}
  .input-group label {@apply absolute top-2 left-4;}
  .input-group:has(:is(input, textarea):hover) label {@apply text-primary-hover;}
  input, textarea {@apply w-full leading-5.5 placeholder:text-content-disable disabled:text-content-disable
                          px-4 pt-7 pb-2 border border-neutral-disable hover:border-primary-disable disabled:border-neutral-disable rounded-lg bg-white;}
  textarea {@apply field-sizing-content min-h-30 max-h-[80dvh];}

  details {@apply border border-neutral-disable rounded-2xl bg-white hover:shadow-2xl/5 hover:scale-105 transition-all;}
  details * {@apply transition-all;}
  details + details {@apply mt-4;}
  details summary {@apply cursor-pointer relative flex justify-between text-content-base hover:text-content-hover
                          p-4 sm:p-8 border border-neutral-disable hover:border-primary-disable rounded-2xl -m-px transition-all;}
  details[open] summary {@apply text-primary-base hover:text-primary-hover;}
  details summary + * {@apply pt-4 sm:pt-8 transition-all;}
  details > *:not(summary) {@apply px-4 sm:px-8;}
  details > *:not(summary):last-child {@apply pb-4 sm:pb-8;}
  details ul {@apply list-disc text-sm;}
  details li {@apply ml-4.25;}
  details summary::marker {@apply hidden;}
  details summary:after {@apply content-['add'] text-content-soft transition-all;}
  details[open] summary:after {@apply content-['close'];}
  details summary:hover:after {@apply text-primary-hover;}
}

@layer components {
  .icon-material ,
  summary:after {
    font-family:"Material Symbols Outlined"; font-weight:normal; font-style:normal; font-size:24px;
    line-height:1; letter-spacing:normal; text-transform:none;
    display:inline-block; vertical-align:middle; white-space:nowrap; word-wrap:normal; direction:ltr;
    font-feature-settings:"liga"; -webkit-font-smoothing:antialiased;
  }
  /* Google Icon */
  .icon-material ,
  .icon-material.icon-outline       {font-variation-settings:'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;}
  .icon-material.icon-fill          {font-variation-settings:'FILL' 1, 'wght' 300, 'GRAD' 0, 'opsz' 24;}

  .button           {@apply relative hover:z-10 inline-flex justify-center items-center gap-2 min-h-10 leading-10 text-white px-4 border-0 rounded-lg transition-all;}
  .button-icon      {@apply justify-center size-10 p-0;}
  .button .icon-material {@apply -mx-1;}
  .button:disabled ,
  a.is-disabled ,
  .button.is-disabled ,
  .button[aria-disabled="true"] {@apply opacity-40 cursor-not-allowed pointer-events-none;}
  .badge                {@apply inline-flex items-center align-middle gap-1 w-fit min-h-5 text-xs whitespace-nowrap leading-5 text-white px-2 rounded-sm transition-all;}
  /*.badge:not(a)       {@apply cursor-default;}*/
  .badge-icon           {@apply justify-center size-5 p-0;}
  .badge-pill           {@apply rounded-full;}
  .badge .icon-material {@apply text-sm -mx-0.5;}
  .badge-sm {@apply min-h-4 text-[10px] leading-3.5 px-1.5;}
  .badge-sm .icon-material {@apply text-[12px] leading-4 -mx-0.5;}
  .badge-sm.badge-icon {@apply size-4 p-0;}
  .button , .badge ,
  .button-primary , .badge-primary {@apply bg-primary-base hover:bg-primary-hover;}
  .button-accent  , .badge-accent  {@apply bg-accent-base  hover:bg-accent-hover ;}
  .button-error   , .badge-error   {@apply bg-error-base   hover:bg-error-hover  ;}
  .button-warning , .badge-warning {@apply bg-warning-base hover:bg-warning-hover;}
  .button-success , .badge-success {@apply bg-success-base hover:bg-success-hover;}
  .button-neutral , .badge-neutral {@apply bg-neutral-base hover:bg-neutral-hover;}
  .button-content , .badge-content {@apply bg-content-base hover:bg-content-hover;}
  .button-soft , .badge-soft {@apply border-none;}
  .button-soft , .badge-soft ,
  .button-soft.button-primary , .badge-soft.badge-primary {@apply text-primary-hover bg-primary-lighter/40 hover:bg-primary-light/60;}
  .button-soft.button-accent  , .badge-soft.badge-accent  {@apply text-accent-hover  bg-accent-lighter/60  hover:bg-accent-light/80 ;}
  .button-soft.button-error   , .badge-soft.badge-error   {@apply text-error-hover   bg-error-lighter/40   hover:bg-error-light/60  ;}
  .button-soft.button-warning , .badge-soft.badge-warning {@apply text-warning-hover bg-warning-lighter/40 hover:bg-warning-light/60;}
  .button-soft.button-success , .badge-soft.badge-success {@apply text-success-hover bg-success-lighter/20 hover:bg-success-light/40;}
  .button-soft.button-neutral , .badge-soft.badge-neutral {@apply text-neutral-hover bg-neutral-lighter    hover:bg-neutral-light   ;}
  .button-soft.button-content , .badge-soft.badge-content {@apply text-content-base  bg-content-lighter    hover:bg-content-light   ;}
  .button-outline {@apply leading-9.5;}
  .badge-outline  {@apply leading-4.5;}
  .badge-sm.badge-outline  {@apply leading-3.5;}
  .button-outline , .badge-outline {@apply border-2 /*bg-white hover:bg-white*/ bg-transparent hover:bg-transparent;}
  .button-outline , .badge-outline ,
  .button-outline.button-primary , .badge-outline.badge-primary {@apply text-primary-base  border-primary-disable hover:border-primary-hover;}
  .button-outline.button-accent  , .badge-outline.badge-accent  {@apply text-accent-hover  border-accent-base     hover:border-accent-hover ;}
  .button-outline.button-error   , .badge-outline.badge-error   {@apply text-error-base    border-error-disable   hover:border-error-hover  ;}
  .button-outline.button-warning , .badge-outline.badge-warning {@apply text-warning-base  border-warning-base    hover:border-warning-hover;}
  .button-outline.button-success , .badge-outline.badge-success {@apply text-success-base  border-success-disable hover:border-success-hover;}
  .button-outline.button-neutral , .badge-outline.badge-neutral {@apply text-neutral-base  border-neutral-disable hover:border-neutral-hover;}
  .button-outline.button-content , .badge-outline.badge-content {@apply text-content-base  border-content-disable hover:border-content-hover;}
  .button-ghost , .badge-ghost {@apply bg-transparent hover:bg-white;}
  .button-ghost , .badge-ghost ,
  .button-ghost.button-primary , .badge-ghost.badge-primary {@apply text-primary-base;}
  .button-ghost.button-accent  , .badge-ghost.badge-accent  {@apply text-accent-base ;}
  .button-ghost.button-error   , .badge-ghost.badge-error   {@apply text-error-base  ;}
  .button-ghost.button-warning , .badge-ghost.badge-warning {@apply text-warning-base;}
  .button-ghost.button-success , .badge-ghost.badge-success {@apply text-success-base;}
  .button-ghost.button-neutral , .badge-ghost.badge-neutral {@apply text-neutral-base;}
  .button-ghost.button-content , .badge-ghost.badge-content {@apply text-content-base;}
}

@utility bg-gradient {@apply bg-linear-135 from-pink-500 via-purple-500 to-indigo-600 transition-all;}
@utility bg-gradient-primary {@apply bg-linear-135 from-pink-50 via-purple-50 to-indigo-100 transition-all;}
/*@utility bg-gradient-secondary {@apply bg-linear-135 from-pink-50/20 via-purple-50 to-white transition-all
                                hover:bg-linear-165;}
@utility bg-gradient-tertiary {}*/
@utility text-gradient {@apply bg-linear-135 from-pink-500 via-purple-500 to-indigo-600 bg-clip-text text-transparent transition-all;}
@utility frame {@apply flex flex-col items-start gap-4 p-4 sm:p-8 border border-neutral-disable hover:border-primary-disable rounded-2xl bg-white hover:shadow-2xl/5 hover:scale-105 transition-all;}
@utility shadow-2xl-reverse {@apply shadow-[0_-25px_50px_-12px_rgba(0,0,0,0.25)]/5  transition-all;}
/*@utility shadow-hsl {@apply shadow-[hsl(320,100%,50%,0.5)];}*/

* {@apply selection:text-white selection:bg-primary-base;}
    .h0 ,
h1, .h1 ,
h2, .h2 ,
h3, .h3 ,
h4, .h4 ,
h5, .h5 ,
h6, .h6 {@apply selection:bg-primary-hover;}
a, button {@apply selection:text-white selection:bg-warning-disable;}
li::marker {@apply text-primary-base;}
li:hover::marker {@apply text-pink-400;}

main > section {@apply pb-8 bg-white;}
main > section + section {@apply rounded-t-4xl inset-shadow-xs inset-shadow-pink-100 shadow-2xl-reverse -mt-8;}

.container {@apply flex flex-col justify-center items-center gap-4 sm:gap-8 w-7xl max-w-full px-4 sm:px-8 py-16 mx-auto;}
.container > .heading {@apply w-full text-center max-sm:pb-2;}
.container > .heading h2 {@apply w-fit text-3xl 2xs:text-4xl text-gradient pb-1 mx-auto;}
.container > .heading p {@apply text-lg text-balance;}
header {@apply fixed z-99 top-0 left-1/2 -translate-x-1/2 w-full px-1.5 sm:px-5.5 pt-4 sm:pt-8;}
header .container {@apply relative z-98 flex flex-row justify-between content-center items-center gap-2 w-309
                          p-2.25 border border-neutral-disable hover:border-primary-disable rounded-2xl
                          bg-white/20 hover:bg-primary-lighter/30
                          inset-shadow-xs inset-shadow-pink-100 shadow-2xl/5 hover:shadow-2xl/10 backdrop-blur-sm transition-all;}
header .container:has(nav.active) {@apply max-nav-toogle:rounded-b-none max-nav-toogle:bg-gradient-primary transition-all;}
header nav:not(.active) {@apply overflow-hidden max-nav-toogle:h-0;}
header nav {@apply max-nav-toogle:absolute top-full left-0 max-nav-toogle:w-[calc(100%+2px)] transition-all;}
header nav.active {@apply max-nav-toogle:p-2.25 max-nav-toogle:border max-nav-toogle:border-t-0
                          max-nav-toogle:border-neutral-disable max-nav-toogle:hover:border-primary-disable max-nav-toogle:rounded-b-2xl
                          max-nav-toogle:bg-white max-nav-toogle:-mx-px max-nav-toogle:mt-px max-nav-toogle:shadow-2xl/5;}
header nav ul {@apply flex flex-col nav-toogle:flex-row;}
header .nav-brand ,
header nav a:not(.button) ,
header button {@apply block leading-10 font-medium text-center text-content-hover hover:text-white
                      text-shadow-lg/40 text-shadow-white hover:text-shadow-none
                      px-4 rounded-lg hover:bg-primary-hover transition-all;}
header .nav-toggle {@apply nav-toogle:hidden w-10 p-0;}

footer {@apply -mt-8;}
footer .container {@apply flex-col min-[400px]:flex-row justify-center gap-2 min-[400px]:gap-8 pt-0 pb-4;}
.follow-me {@apply flex gap-3 text-sm font-medium text-primary-base;}
.follow-me a svg {@apply size-5 fill-content-soft hover:fill-content-hover transition-all;}
.follow-me [data-tooltip="LinkedIn"]:hover svg {@apply fill-[#0077b5];}
.follow-me [data-tooltip="GitHub"]:hover svg {@apply fill-black;}
.follow-me a .text {@apply hidden;}
.copyright {@apply text-xs text-balance text-center text-content-soft/60;}
.copyright span {@apply text-2xl align-bottom leading-2;}

.tooltip {@apply relative block;}
.tooltip:after {@apply content-[attr(data-tooltip)] whitespace-nowrap absolute left-1/2 -translate-x-1/2 bottom-full text-xs text-balance text-white px-2 py-1 rounded bg-neutral-hover mb-2 opacity-0 transition-all pointer-events-none;}
.tooltip:hover:after {@apply opacity-100;}

#hero {@apply overflow-hidden pt-19 sm:pt-23 bg-gradient-primary;}
#hero .container {@apply flex-col-reverse md:flex-row md:justify-between max-md:gap-12;}
.hero-intro {@apply relative z-3 flex flex-col text-balance max-md:items-center gap-2;}
.hero-intro > * {@apply w-fit;}
.hero-intro em {@apply text-xl font-medium whitespace-nowrap text-primary-base;}
.hero-intro:hover em {@apply text-warning-soft transition-all;}
.hero-intro em .icon-material {@apply animate-bounce transition-all;}
.hero-intro:hover .icon-material {@apply scale-135;}
.hero-intro h1 {@apply text-2xl 2xs:text-3xl xs:text-4xl sm:text-5xl lg:text-6xl leading-[1.2] 2xs:whitespace-nowrap max-md:text-center text-gradient md:-ml-1;}
.hero-intro h2 {@apply text-lg xs:text-xl md:text-2xl md:whitespace-nowrap max-md:text-center text-shadow-md/60 text-shadow-white;}
.hero-intro p {@apply md:text-lg max-md:text-center;}
.hero-intro .button-row {@apply pt-4;}
.hero-intro .button {@apply w-35 grow;}
.hero-present {@apply relative md:w-80 md:h-80;}
.hero-present img {@apply md:absolute z-2 right-0 w-[60%] md:min-w-80 max-w-80 aspect-square object-cover rounded-[33.33%] mx-auto shadow-2xl/10 shadow-pink-500 transition-all;}
#hero:hover .hero-present img {@apply rotate-5 shadow-indigo-500;}
#hero:hover .hero-present:hover img {@apply rotate-10 shadow-purple-500;}
.hero-present:before ,
.hero-present:after  {@apply absolute top-0 right-1/2 md:right-0 max-md:translate-x-1/2 content-[""] block w-[60%] md:min-w-80 max-w-80 aspect-square border-0 rounded-[33.33%] duration-300 transition-all;}
.hero-present:before {@apply z-1 border-white;}
.hero-present:after  {@apply z-4 border-neutral-100 delay-75;}
#hero:hover .hero-present:before {@apply  rotate-20 border-3 shadow-2xl/10 shadow-pink-500;}
#hero:hover .hero-present:after  {@apply -rotate-15 border-3 border-primary-disable shadow-2xl/10 shadow-purple-500;}
#hero:hover .hero-present:hover:before {@apply rotate-75 border-3 border-primary-soft shadow-indigo-500;}
#hero:hover .hero-present:hover:after  {@apply -rotate-40 border-3 border-warning-disable shadow-orange-500;}

#about .container {@apply flex-col lg:flex-row-reverse xl:gap-16;}
#about .heading {@apply flex-1 max-w-130 lg:text-left;}
#about .heading h2 {@apply pb-4 lg:mx-0;}
#about p {@apply max-[520px]:text-pretty;}
#about p + p {@apply text-base pt-3;}
/*
.about-count {@apply flex max-xs:flex-col justify-center gap-4 sm:gap-8 max-xs:w-fit pt-6 max-xs:mx-auto;}
.about-count .frame {@apply max-xs:flex-row flex-1 max-lg:items-center gap-2 max-xs:w-full p-4;}
.about-count h3 {@apply min-w-9.5 text-2xl leading-[0.8] text-right text-primary-soft;}
.about-count .frame:hover h3 {@apply text-primary-base;}
#about .about-count p {@apply text-base;}
*/
.about-present {@apply flex-1 frame max-w-172 lg:max-w-120 p-2 hover:scale-none;}
.about-present img {@apply object-cover aspect-video lg:aspect-3/4;}

.work-list {@apply grid md:grid-cols-2 lg:grid-cols-3 items-start gap-4 sm:gap-8;}
.work-list > li {@apply frame relative gap-1 p-2;}
.work-detail {@apply relative flex flex-col gap-2 w-full p-2;}
.work-title {@apply leading-none line-clamp-4;}
.work-title h3 {@apply inline text-sm text-content-hover mr-1;}
.work-title p  {@apply inline text-sm text-content-base;}
.work-link {@apply flex flex-wrap gap-2;}
.work-skill {@apply absolute left-0 bottom-full flex flex-wrap gap-2 w-[calc(100%+18px)]
                    p-4 border border-primary-disable rounded-2xl -m-2.25 bg-white/95
                    shadow-[0_-2px_0_0_rgba(255,255,255,1)]
                    opacity-0 delay-75 duration-300 transition-all;}
.work-list > li:hover .work-skill {@apply opacity-100 -translate-y-3;}
.work-skill:before {@apply content-["Tech_Stack"] absolute left-4 top-0 -translate-y-1/2 inline-flex items-center align-middle min-h-4
                           text-[10px] leading-3.5 text-white px-1.5 rounded-sm bg-primary-soft
                           shadow-[0_-1.5px_0_0_rgba(255,255,255,1)];}

#skill {@apply inset-shadow-xs inset-shadow-white bg-gradient-primary;}
#skill .frame {@apply md:flex-row gap-2 sm:gap-4 w-196 max-w-full;}
#skill h3 {@apply flex items-start gap-2 whitespace-nowrap min-w-27 text-base text-primary-base;}
#skill .frame:hover h3 {@apply text-primary-hover;}
#skill h3 .text {@apply md:w-19 md:whitespace-normal;}
#skill ul {@apply flex flex-wrap gap-2 mt-0.5;}

#experience h3 {@apply text-base font-medium;}
#experience .badge {@apply align-text-bottom;}
.experience-list {@apply flex flex-col gap-4 sm:gap-8 w-230 max-w-full;}
.experience-list details + details {@apply mt-0;}
#experience summary {@apply flex-wrap max-xs:flex-col 2xs:pr-14 sm:pr-22;}
#experience summary > div {@apply relative z-1;}
#experience details.star summary h6 {@apply absolute -top-6.5 sm:-top-6 left-4 opacity-0 italic tracking-wide text-white bg-gradient delay-75 duration-300 transition-all;}
#experience details.star:hover summary h6 {@apply left-0 opacity-100;}
#experience summary h4 {@apply text-primary-base;}
#experience summary:hover h4 {@apply text-primary-hover;}
#experience summary .experience-year {@apply max-xs:flex flex-wrap gap-2 xs:text-right max-2xs:pr-10;}
#experience summary h5 {@apply xs:leading-6 text-content-base;}
#experience summary:after {@apply absolute 2xs:top-1/2 max-2xs:bottom-2 right-2 2xs:right-4 sm:right-8 2xs:-translate-y-1/2
                                  max-2xs:p-2 max-2xs:rounded-lg max-2xs:bg-neutral-lighter;}
#experience li {@apply hover:text-content-hover transition-all;}

#contact {@apply pb-8 inset-shadow-xs inset-shadow-white bg-gradient-primary;}
#contact .container {@apply md:flex-row-reverse flex-wrap md:items-start;}
#contact .heading {@apply w-full;}
#contact .heading em {@apply pl-1;}
#contact .frame {@apply hover:scale-none;}
#contactForm {@apply items-center grow md:w-1/2;}
#contactForm button {@apply overflow-hidden sm:mt-4;}
#contactForm button span {@apply relative z-1;}
#contactForm button:after {@apply absolute z-0 top-0 right-full content-[""] block w-full h-full rounded-lg bg-gradient
                                  opacity-100 delay-75 duration-600 transition-all;}
#contactForm button:hover:after {@apply opacity-100 right-0;}
#contactInformation {@apply max-md:items-center max-md:w-full;}
#contactInformation hr {@apply w-[calc(100%+32px)] sm:w-[calc(100%+64px)] md:-ml-8 sm:my-4;}
#contactProfile {@apply flex flex-col gap-2 max-md:items-center;}
#contactProfile li.badge {@apply items-start gap-2 px-0 hover:bg-transparent;}
#contactProfile li a:not(.button) {@apply block pl-0 pr-8 hover:px-4 py-2 rounded-lg hover:text-primary-hover hover:bg-primary-light/60 transition-all;}
#contactProfile li a:not(.button):hover .badge {@apply text-primary-hover px-2 bg-white;}